[submodule "deps/minco-python"]
	path = deps/minco-python
	url = https://github.com/WarriorHanamy/minco-python.git
[submodule "deps/viser"]
	path = deps/viser
	url = https://github.com/viser-project/viser.git
[submodule "examples/classic_control_hover/plant_analysis"]
	path = examples/classic_control_hover/plant_analysis
	url = https://github.com/WarriorHanamy/plant_analysis.git
